.header {
    overflow: hidden;
    padding: 20px 10px;
    background-image:url("images/800px-CuisineSouthAfrica.jpg");
    background-position:bottom;
    background-repeat:none;
    background-size:cover;
  }
  .header a {
    float: left;
    color: blueviolet;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  .header a:hover {
    background-color: #ddd;
    color: green;
  }
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  .header-right {
    float: right;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: inline;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  #traditional{
    color:peru;
  } 
  .kasarani{
    text-align: center;
    position: absolute;
  }
  .zurri{
    position: absolute;
  }
  div.kasarani{
     text-align:center;
  }
  img{
    vertical-align: middle;
  }
  body{
    background-image: url(images/7056.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .kasarani{
    background-color:none;
    color:darkorange;
  }
  .image{
    position: absolute;
    width: 1105px;
    height: 425px;
    left: 23px;
    top: 250px;
    border-style: hidden;
  }
  span{
    color:beige
  }
  #recipe{
    width:50%;
    margin-left: 25%;
    margin-top: 40%;
    height:3000px;
  }
  .nyama{
    clear:both;
  }
  .nyama img{
    float:right;
  }
  .nyama p{
    color:whitesmoke
  }
  .matoke{
    clear: auto;  
  }
  body footer{
    display: flex;
    height: 200px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 10px;
    background-image:url("images/Africanfood_copy.jpg");
    background-position:center;
    background-repeat:none;
    background-size:cover;
  }
  body{
    overflow-y: auto;
  }
  .video{
    border-top-left-radius: 50%;
    position:absolute;
    width: 1105px;
    height: 425px;
    left: 23px;
    top: 3300px;
    border-style: hidden;
  }
  .video2{
    border-top-left-radius: 50%;
    position:absolute;
    width: 1105px;
    height: 425px;
    left: 23px;
    top: 3000px;
    border-style: hidden; 
  }
  .information{
    border-top-left-radius: 50%;
    position:absolute;
    width: 1105px;
    height: 425px;
    left: 23px;
    top: 3700px;
    border-style: hidden;  
  }
  .class{
    border-top-left-radius: 50%;
    position:absolute;
    width: 1105px;
    height: 425px;
    left: 23px;
    top: 3700px;
    border-style: hidden;   
  }
  span{
    color:red
  }
  .food-left{
    background-color:grey
    font-family:courier;
  }